<h2>Smarter Storytelling</h2>
<ul>
  <li>
    Photos & Videos<br>
    Combine photos and videos into beautiful albums.</li>
  <li>Smart design<br>
    Let our smart algorithms lay out your album for you.</li>
  <li>Customize<br>
    Personalize your album to match any mood or style.</li>
  <li>Print & Online<br>
    Relive it the way you prefer, online or in print.</li>
  <li>Privacy & Social<br>
    Your albums are private until you choose to share them.</li>
  <li>Free<br>
    Photos and videos are stored in high quality. Upgrade to store the originals.</li>
</ul>
